affine==2.4.0
asttokens==3.0.0
attrs==25.3.0
certifi==2025.8.3
click==8.1.8
click-plugins==1.1.1.2
cligj==0.7.2
comm==0.2.3
contourpy==1.1.1
cycler==0.12.1
debugpy==1.8.16
decorator==5.2.1
executing==2.2.0
fonttools==4.57.0
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
pyproj
python-dateutil
pytz
pyzmq
rasterio
rioxarray
scipy
seaborn
six
stack-data
tornado
traitlets
typing_extensions
tzdata
wcwidth
xarray
